/* commit */


.wrapHeader {
  border-bottom: 1px solid orange;

  .img {
    margin-right: 20px;
  }

  .li {
    margin: 0px 10px;
  }

  .practice {
    font-size: 28px !important;
    color: #043662;
    margin-left: 20px;
    font-weight: bold;
  }
  .base{
    font-size: 28px;
    color: #0D6A99;
    font-weight: bold;
    margin-left: 4px;
  }
  a {
    margin-left: 77px;
    text-decoration: underline;
    text-decoration: none;
    color: #011729;
    // font-weight: 500;
    line-height: 22px;
}
}

// .wrapHeader {
//   background-color: orange !important;
//   border-bottom: 5px solid red !important;

//   span.practice {
//     font-size: 10px !important;
// }

// img.img {
//     margin-right: 20px;
// }
// }

// img.img {
//   margin-right: 20px !important;
// }
